use nix

# Default testing parameters


# Source an additional user-specific .envrc in ./.envrc-local
# Add new parameters or override those above with this file if needed.

if [ -e .envrc-local ]; then
   source .envrc-local
fi

if nix eval --impure --expr '{}' &> /dev/null; then
  export NIX_PATH="nixpkgs=$(nix eval --impure --expr '(import ./nix {}).path')"
else
  export NIX_PATH="nixpkgs=$(nix eval '(import ./nix {}).path')"
fi
