use nix

# Default testing parameters


# Source an additional user-specific .envrc in ./.envrc-local
# Add new parameters or override those above with this file if needed.

if [ -e .envrc-local ]; then
   source .envrc-local
fi

if [ "$(nix --version | grep -oP '\K\d\.\d' | cut -f 2 -d .)" -lt "4" ]; then
  export NIX_PATH="nixpkgs=$(nix eval '(import ./nix {}).path')"
else
  export NIX_PATH="nixpkgs=$(nix eval --impure --expr '(import ./nix {}).path')"
fi
